<div class="home-container">
  <div class="home-container-item">
    <div class="home-container-item-header">
      <span>Welcome to Text Utils</span>
      <!-- <p-carousel [value]="textUtilsItems" [numVisible]="3" [numScroll]="3" [circular]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-item pTemplate="item">
          <div class="text-utils-item">
            <div class="text-utils-content">
              <div class="p-mb-3">
                <img src="{{item.image}}" [alt]="item.name" class="text-utils-image" />
              </div>
              <div>
                <h4 class="p-mb-1">{{item.name}}</h4>
                <span>{{item.description}}</span>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel> -->
    </div>
    <div class="home-container-item-footer">
      <button pButton pRipple type="button" label="Try it" class="p-button-rounded p-button-outlined" (click)="tryIt()"></button>
    </div>
  </div>
</div>
