<div class="flex-container">
  <div class="header-container">
    <span>Text converter</span>
  </div>

  <div class="text-area-container">
    <div class="input-text-area-container">
      <span>Entrada</span>
      <textarea #inputText pInputTextarea autoResize="autoResize"></textarea>
    </div>

    <div class="input-text-area-buttons-container">
      <div>
        <button pButton pRipple type="button" label="Convert" (click)="convertText()" class="p-button-rounded"></button>
      </div>
    </div>

    <div class="input-text-area-container">
      <span>Saída</span>
      <textarea #outText pInputTextarea autoResize="autoResize"></textarea>
    </div>
  </div>
  <div class="footer-container">
    <span> By Marcelo Luiz Jung</span>
  </div>
</div>
