<div class="flex-container">
  <div class="header-container">
    <span>Text converter</span>
  </div>

  <div class="text-area-container">
    <div class="input-text-area-container">
      <span>Entrada</span>
      <textarea #inputText pInputTextarea autoResize="autoResize"></textarea>
    </div>

    <div class="input-text-area-buttons-container">
      <form class="input-text-area-buttons-container" [formGroup]="textConverterFormGroup" (ngSubmit)="convertText()">
        <div class="input-text-area-buttons-item">
          <p-autoComplete name="regex" formControlName="regex" [suggestions]="autoCompleteSuggestions" (completeMethod)="autoCompleteSearch()"></p-autoComplete>
        </div>
        <div class="input-text-area-buttons-item">
          <button pButton pRipple type="button" label="Convert" type="submit" class="p-button-rounded"></button>
        </div>
      </form>
    </div>

    <div class="input-text-area-container">
      <span>Saída</span>
      <textarea #outText pInputTextarea autoResize="autoResize"></textarea>
    </div>
  </div>
  <div class="footer-container">
    <span> By Marcelo Luiz Jung</span>
  </div>
</div>
